.tracker {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tracker > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 2em;

}
.gameWin {
    background-color: green;
}
.gameLoss {
    background-color: red;
}
.hidden {
    display: none;
}